
<h4>Please Enter the details of the Question</h4>

<form id="form" action="/AddQuestions/ScrollEditQuestions"  method="post" enctype="multipart/form-data">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <label style="font-family:verdana;font-size:15px;" color="#2C3539" id ="checkbox_math_science_label" for="checkbox_math_science">
        Is this a Math Question?
        <input onChange="loadMathCommands()"  type="checkbox" name="checkbox_math_science" id="checkbox_math_science"  >

    </label>
    <label style="font-family:verdana;font-size:15px;" color="#2C3539" id ="checkbox_science_label" for="checkbox_science">
        Is this a Science Question?
        <input onChange="loadScienceCommands()"  type="checkbox" name="checkbox_science" id="checkbox_science"  >

    </label>
    <input type="hidden" id="math_science_holder" name="math_science_holder" value="{{math_science_holder}}"  />
    <input type="hidden" id="Passage_Holder" name="Passage_Holder" value="{{Passage_Holder}}"  />
    <input type="hidden" id="Test_Holder" name="Test_Holder" value="{{Test_Holder}}"  />
    <input type="hidden" id="Test_Type_Holder" name="Test_Type_Holder" value="{{Test_Type_Holder}}"  />
    <input type="hidden" id="Database_Index" name="Database_Index" value="{{Database_Index}}"  />
    <input type="hidden" id="Right_Answer_Holder" name="Right_Answer_Holder" value="{{Right_Answer_Holder}}"  />
    <input type="hidden" id="normal_Question_Index" name="normal_Question_Index" value="{{normal_Question_Index}}"  />
    <div class="column" id="firstColumn">

        <button id="Presentation_Highlight_Button" name="Presentation_Highlight_Button" type="button" onclick="Highlight_Presentation()">Presentation Highlight</button>
            <div class="col-3">
                <input  id="QuestionText" name="QuestionText" class="effect-11" type="text" placeholder="Question Text" rows="5" value="{{QuestionText}}" >

                <span class="focus-border">
            	<i></i>
            </span>
            </div>

            <div class="col-3">
                <input id="Question_Number" name="Question_Number" class="effect-9"  type="text" placeholder="Question Number" value="{{Question_Number}}" >

                <span class="focus-border">
            	<i></i>
            </span>
            </div>

    </div>

    <div class="column" name="MiddleColumn" id="MiddleColumn">
        <div class="col-3">
            <input onkeyup="Math_Science('AnswerA')" id="AnswerA" name="AnswerA" class="effect-9" type="text" placeholder="Type Choice A" value="{{AnswerA}}">
            <span class="focus-border">
                <i></i>
              </span>
        </div>

        <div class="col-3">
            <input onkeyup="Math_Science('AnswerB')" id="AnswerB" name="AnswerB" class="effect-9" type="text" placeholder="Type Choice B" value="{{AnswerB}}">
            <span class="focus-border">
                <i></i>
              </span>
        </div>

        <div class="col-3">
            <input onkeyup="Math_Science('AnswerC')" id="AnswerC" name="AnswerC" class="effect-9" type="text" placeholder="Type Choice C" value="{{AnswerC}}">
            <span class="focus-border">
                <i></i>
              </span>
        </div>

        <div class="col-3">
            <input onkeyup="Math_Science('AnswerD')" id="AnswerD" name="AnswerD" class="effect-9" type="text" placeholder="Type Choice D" value="{{AnswerD}}">
            <span class="focus-border">
                <i></i>
              </span>
        </div>

        <div class="col-3">
            <input onkeyup="Math_Science('AnswerE')" id="AnswerE" name="AnswerE" class="effect-9" type="text" placeholder="Type Choice E" value="{{AnswerE}}">
            <span class="focus-border">
                <i></i>
              </span>
        </div>




        <label id="Label_First_Hint" for="First_Hint">
            First Hint
            <input type ="hidden" id="First_Hint" name="First_Hint" value="{{First_Hint}}"  />

        </label>
        <label id="Label_Presentation" for="First_Presentation">
            Presentation Text
            <input type ="hidden" id="Presentation" name="Presentation" value="{{Presentation}}"  />

        </label>



    </div>

    <div class="column" name="lastColumn" id="lastColumn">
        <div class="col-3">
        <input id="Tag" name ="Tag" class="effect-9" type="text" placeholder="Type in Tag" value="{{Tag}}">
        <span class="focus-border">
                <i></i>
              </span>
        </div>

        <select id="RightAnswer"  name="RightAnswer" value="{{RightAnswer}}" >
            <option value="0">Select Right Answer</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>

        </select>

        <select id="Test"  name="Test" value="{{Test}}" >
            <option value="0">Select Test</option>
            <option value="C03">C03</option>
            <option value="B04">B04</option>
            <option value="B02">B02</option>
            <option value="B05">B05</option>
            <option value="A09">A09</option>
            <option value="A10">A10</option>
            <option value="A11">A11</option>
            <option value="74C">74C</option>
            <option value="73G">73G</option>
            <option value="74G">74G</option>
            <option value="73G">74F</option>
            <option value="74H">74H</option>
            <option value="73E">73E</option>
            <option value="71H">71H</option>
            <option value="70G">70G</option>
            <option value="71E">71E</option>
            <option value="72E">72E</option>
            <option value="72F">72F</option>
            <option value="72G">72G</option>
            <option value="72G">73C</option>
            <option value="Z15">Z15</option>
            <option value="71G">71G</option>
            <option value="59C">59C</option>
            <option value="61B">61B</option>
        </select>




        <select id="Test_Type"  name="Test_Type" value="{{Test_Type}}" >
            <option value="0">Select Test Type</option>
            <option value="ACT-English">ACT-English</option>
            <option value="ACT-Math">ACT-Math</option>
            <option value="ACT-Reading">ACT-Reading</option>
            <option value="ACT-Science">ACT-Science</option>


        </select>
        <button name="butt" id="butt" type="button" onclick="submitFinal()" value="save_question">Save Question</button>
        <p id="math_text" name="math_text"  >{{math_text}}</p>


        <input type="hidden" id="submission" name="submission"  value="" />
        <input type="hidden" id="Image_List_Holder" name="Image_List_Holder" value="{{Image_List_Holder}}"  />
        <input onChange="filechange()" type="file" name="file" id="file" size="60" multiple value="{{Image}}" />
    </div>


        <label for="Passage">
            Passage
        </label>
            <textarea onkeyup="Math_Science('Passage')" class="text_area_input" id="Passage" name="Passage" rows="4" cols="5" value="{{Passage}}" >{{Passage}}</textarea>

    <img style="position: absolute; left:500px; top:550px" src={{Image}} />

    <button  id="butt" name="butt" type="submit" value="edit_question">Edit a Question</button>
    <button  id="ReadIn_Button" name="ReadIn_Button" type="submit">ReadIn_Button</button>

    <button onclick="goBack()">Go Back</button>

</form>

<script type="text/javascript">
    function submitFinal(){
        console.log("inside final submissiont "+document.getElementById("checkbox_math_science").checked +" "+document.getElementById("checkbox_science").checked)
        if(document.getElementById("file").files.length == 0 && ( document.getElementById("checkbox_science").checked )){
            alert("Make sure to upload Files! ");
        }
        else{
            document.getElementById("submission").value="true"
            document.getElementById("form").submit()
        }
    }
    function filechange(){
        console.log("inside on change "+document.getElementById("file").files.length )
        var file_list=document.getElementById("file").files
        for (var i=0;i<file_list.length;++i){
            console.log("file "+file_list[i].name)
        }
        //file.files.length;
    }

    function HomeFunction(){
        console.log("Go back home function")
        window.location.href = '/register'
    }
    function loadScienceCommands(){

        document.getElementById("checkbox_math_science").checked = false;
        console.log("inside load Science commands")

        console.log("commands: ");
        var command_list="not equal = 'ne'  \nexponent = ^ \n" +
                "angle ='angle'\n"+
                "matrix='matrix{1st row cr 2nd row cr 3rd row.......cr..... }'+\n"+
                "fraction='frac{}{}'\n"+
                "Scientific Notation X='times'\n"+
                "square root='sqrt{}'\n"+
                "absolute value='|   |'\n"+
                "pi='pi'\n"+
                "theta = 'theta'\n"+
                "subscript = '_'\n"+
                "repeating decimal= 'overline{}'\n"+
                "division symbol = 'div'\n"+
                "logarithmic='log_y x'\n"+
                "greater than='gt'\n"+
                "greater than or equal='ge'\n"+
                "less than ='lt'\n"+
                "less than or equal='le'\n"+
                "DO NOT LEAVE ANY SPACES BETWEEN THE BRACKETS: '<   >'\n"+
                "---------------------------------------------------------------------------------->end\n"

        document.getElementById("Passage").value=command_list
    }
    function loadMathCommands(){
        console.log("inside load math commands")
        document.getElementById("checkbox_science").checked = false;
            console.log("commands: ");
        var command_list="not equal = 'ne'  \nexponent = ^ \n" +
                "angle ='angle'\n"+
                "fraction='frac{}{}'\n"+
                "square root='sqrt{}'\n"+
                "absolute value='|   |'\n"+
                "matrix='matrix{1st row cr 2nd row cr 3rd row.......cr..... }'+\n"+
                "Scientific Notation X='times'\n"+
        "pi='pi'\n"+
        "theta = 'theta'\n"+
        "subscript = '_'\n"+
        "repeating decimal= 'overline{}'\n"+
        "division symbol = 'div'\n"+
        "logarithmic='log_y x'\n"+
        "greater than='gt'\n"+
        "greater than or equal='ge'\n"+
        "less than ='lt'\n"+
        "less than or equal='le'\n"+

        "DO NOT LEAVE ANY SPACES BETWEEN THE BRACKETS: '<   >'\n"+
        "---------------------------------------------------------------------------------->end\n"

        document.getElementById("Passage").value=command_list

    }

    function Math_Science(argument){

        var final_string="";
        console.log("inside math_science: "+document.getElementById("checkbox_math_science").checked)
        if (document.getElementById("checkbox_math_science").checked ||document.getElementById("checkbox_science").checked ) {
            //document.getElementById('QuestionText').style.height="400px";

            if(document.getElementById(argument).value.charAt(document.getElementById(argument).value.length-1)==">"){
                var start=document.getElementById(argument).value.lastIndexOf('<',document.getElementById(argument).value.length-1)

                var final=document.getElementById(argument).value.length-1
                var math_string=Math_Algo( document.getElementById(argument).value.substring(start))
                console.log(document.getElementById(argument).value.substring(0,start)+math_string+document.getElementById(argument).value.substring(final,document.getElementById(argument).value.length-1))
                //final_string=document.getElementById("QuestionText").value.substring(0,start)+math_string+document.getElementById("QuestionText").value.substring(final,document.getElementById("QuestionText").value.length-1)
                final_string=final_string+math_string+document.getElementById(argument).value.substring(final,document.getElementById(argument).value.length-1)
                document.getElementById("math_text").innerHTML=final_string;
                document.getElementById("math_science_holder").value=final_string
                document.getElementById("form").submit()
            }



            //appendtoPassageBox();
        }

    }

    function Math_Algo(math_string){
        var command_list=["ne","frac","sqrt","gt","ge","le","lt","theta","pi","log","div","overline","angle","matrix","cr","times"]
        console.log("Math Algo "+math_string)
        math_string=math_string.replace("<","(");
        math_string=math_string.replace(">",")");
        //math_string=math_string.replace(/.$/,")");
        math_string="\\"+math_string
        var math_string_final=math_string.substring(0, math_string.length-1) + "\\" + math_string.substring(math_string.length-1, math_string.length)
        console.log("final_string_Math ALgo "+math_string_final)
        for (var i=0;i<command_list.length;++i){
            if(math_string_final.indexOf(command_list[i])>-1){
                if( command_list[i]=="ne" && math_string_final.indexOf("overline")==-1){
                    console.log("its a legitame ne")
                    var c_start=math_string_final.indexOf(command_list[i])
                    math_string_final=math_string_final.substring(0,c_start)+"\\"+math_string_final.substring(c_start)
                }
                else if(command_list[i] == "le" && math_string_final.indexOf("angle") == -1){
                    console.log("its a legitame le")
                    var c_start = math_string_final.indexOf(command_list[i])
                    math_string_final = math_string_final.substring(0, c_start) + "\\" + math_string_final.substring(c_start)
                }
                else if(command_list[i]!="le" && command_list[i]!="ne" ){
                    console.log("command "+command_list[i])
                    var c_start = math_string_final.indexOf(command_list[i])
                    math_string_final = math_string_final.substring(0, c_start) + "\\" + math_string_final.substring(c_start)
                }




            }

        }

        console.log("only section for math "+math_string_final)
        return math_string_final;
    }
    function Highlight(){
        console.log("Inside hihglight hint")
        var txtArea = document.getElementById("Passage");
        var selectedText;
        if (txtArea.selectionStart != undefined)
        {
            var startPosition = txtArea.selectionStart;
            var endPosition = txtArea.selectionEnd;
            selectedText = txtArea.value.substring(startPosition, endPosition);
        }
        console.log("You selected :" + selectedText);
        document.getElementById("First_Hint").type="input"
        document.getElementById("First_Hint").value=document.getElementById("First_Hint").value+" "+selectedText;
        document.getElementById("Label_First_Hint").style.display = 'block';
    }

    function Highlight_Presentation(){
        console.log("Inside hihglight presentation")
        var txtArea = document.getElementById("Passage");
        var selectedText;
        if (txtArea.selectionStart != undefined)
        {
            var startPosition = txtArea.selectionStart;
            var endPosition = txtArea.selectionEnd;
            selectedText = txtArea.value.substring(startPosition, endPosition);
        }
        console.log("You selected :" + selectedText);
        document.getElementById("Presentation").type="input"
        document.getElementById("Presentation").value=document.getElementById("Presentation").value+" "+selectedText;
        document.getElementById("Label_Presentation").style.display = 'block';
    }

    function loadbuttons(){

        var index=document.getElementById("normal_Question_Index").value
        console.log("loading buttons "+index)

        //console.log("header " +header.value + ' '+header.innerText)
        var buttonGroup=document.getElementById("btn-group")

        buttonGroup.name="button-group"

        if(parseInt(index)<8){
            for (var i=1;i<9;++i){
                new_button = document.createElement('button');
                if(i==parseInt(index)){
                    new_button.className="current_index"
                }
                new_button.innerHTML=i.toString();
                new_button.value=i.toString();
                new_button.onclick=async function(event) {

                    document.getElementById("normal_Question_Index").value=this.value

                    document.getElementById("form").submit()

                }

                buttonGroup.appendChild(new_button)
                console.log("Length of children"+" "+document.getElementById("header").children.length)
                console.log("Length of children"+" "+buttonGroup.children.length)
            }
            return;
        }

        for (var i=4;i>0;--i){
            new_button = document.createElement('button');
            var less= (parseInt(index))-i
            string=less.toString();
            new_button.innerHTML=string;
            new_button.value=string
            new_button.onclick=async function(event) {

                document.getElementById("normal_Question_Index").value=this.value
                console.log('clicked BUTTON_index '+document.getElementById("normal_Question_Index").value);
                document.getElementById("form").submit()

            }

            buttonGroup.appendChild(new_button)

        }
        var center= (parseInt(index))
        var string="button_"+center.toString();
        var new_button = document.createElement('button')
        new_button.innerHTML=string;
        new_button.value=string
        new_button.onclick=async function(event) {

            document.getElementById("normal_Question_Index").value=this.value
            console.log('clicked BUTTON_index '+document.getElementById("normal_Question_Index").value);
            document.getElementById("form").submit()

        }
        buttonGroup.appendChild(new_button)

        for(var i=1;i<4;++i){
            new_button = document.createElement('button');
            var more=(parseInt(index))+i
            string=more.toString();
            new_button.innerHTML=string;
            new_button.value=string
            new_button.onclick=async function(event) {

                document.getElementById("normal_Question_Index").value=this.value
                console.log('clicked BUTTON_index '+document.getElementById("normal_Question_Index").value);
                document.getElementById("form").submit()

            }

            buttonGroup.appendChild(new_button)
        }

        //document.getElementById("header").appendChild(buttonGroup)
        console.log("button chidlren "+document.getElementById("header").children.length)
    }
    window.onload = function () {

        //console.log("setting all holders"+document.getElementById("Right_Answer_Holder").value)
        //console.log("Print First"+" "+document.getElementById("Passage_Holder").value)
        if(document.getElementById("Test_Holder").value.length!=0){
            console.log("preparing test holders...")
            document.getElementById("Test").value=document.getElementById("Test_Holder").value;
            document.getElementById("Test_Type").value=document.getElementById("Test_Type_Holder").value
            document.getElementById("RightAnswer").value=document.getElementById("Right_Answer_Holder").value
            document.getElementById("Passage").value=document.getElementById("Passage_Holder").value
        }
       // document.getElementById("Test").value=document.getElementById("Test_Holder").value;
      //  document.getElementById("Test_Type").value=document.getElementById("Test_Type_Holder").value
       // document.getElementById("RightAnswer").value=document.getElementById("Right_Answer_Holder").value
      //
        if (document.getElementById("Presentation").value.length==0){

            document.getElementById("Label_Presentation").style.display = 'none';

        }
        else{
            document.getElementById("Presentation").type="input"
        }
        if(document.getElementById("First_Hint").value.length==0){

            document.getElementById("Label_First_Hint").style.display = 'none';

        }
        else{
            document.getElementById("First_Hint").type="input"
        }
        if( document.getElementById("title").innerHTML.includes("Math")){
            console.log("detected inside math holder")

            //loadMathCommands()
            //loadPicture();
            //document.getElementById("math_text").innerHTML=document.getElementById("math_science_holder").value;
            document.getElementById("checkbox_math_science").checked=true;
        }
        if( document.getElementById("title").innerHTML.includes("Science")){
            console.log("detected inside science holder")

            //loadScienceCommands()
            //loadPicture();
            //document.getElementById("math_text").innerHTML=document.getElementById("math_science_holder").value;
            document.getElementById("checkbox_science").checked=true;
        }
        //console.log("Passage being copied"+" "+document.getElementById("Passage_Box").value)
        //console.log("after"+" "+document.getElementById("Passage_Box").value)


    };

</script>



<script>
    function goBack() {
        window.history.back();
    }
</script>
