
<h4>Please Enter the details of the Question</h4>
<form action="/AddQuestions"  method="post">
    <div class="container">

    <div class="column" id="firstColumn">
        <div>

            <label for="Passage">
                Passage
                <textarea id="Passage" name="Passage" rows="4" cols="5" value="{{Passage}}" >
                </textarea>
            </label>

            <label for="QuestionText">
                Question Text
                <input class="upper" id="QuestionText" name="QuestionText" value="{{QuestionText}}"  />
                <label class="error">{{errors.firstName}}</label>
            </label>
            <label for="Question_Number">
                Question Number
                <input id="Question_Number" name="Question_Number" value="{{Question_Number}}"  />

            </label>

            <button onclick="move()">Delete Database </button>

        </div>
    </div>

    <div class="column" name="MiddleColumn" id="MiddleColumn">

        <label for="AnswerA">
            Answer A
            <input id="AnswerA" name="AnswerA" value="{{AnswerA}}" />

        </label>
        <label for="AnswerB">
            Answer B
            <input id="AnswerB" name="AnswerB" value="{{AnswerB}}" />

        </label>
        <label for="AnswerC">
            Answer C
            <input id="AnswerC" name="AnswerC" value="{{AnswerC}}" />
        </label>
        <label for="AnswerD">
            Answer D
            <input id="AnswerD" name="AnswerD" value="{{AnswerD}}"  />
        </label>
        <label for="AnswerE">
            Answer E
            <input id="AnswerE" name="AnswerE"  value="{{AnswerE}}" />

        </label>


    </div>

    <div class="column" name="lastColumn" id="lastColumn">

        <label for="Tag">
           Tag(s)
            <input id="Tag" name="Tag" value="{{Tag}}" />
        </label>

        <select id="RightAnswer"  name="RightAnswer" value="{{RightAnswer}}" >
            <option value="0">Select Right Answer</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>

        </select>

        <select id="Test"  name="Test" value="{{Test}}" >
            <option value="0">Select Test</option>
            <option value="B04">B04</option>
            <option value="A11">A11</option>
            <option value="A10">A10</option>
            <option value="A09">A09</option>
            <option value="74C">74C</option>
            <option value="74G">74G</option>
            <option value="73E">73E</option>
            <option value="71H">71H</option>
            <option value="71H">71H</option>
        </select>




        <select id="Test_Type"  name="Test_Type" value="{{Test_Type}}" >
            <option value="0">Select Test Type</option>
            <option value="ACT-English">ACT-English</option>
            <option value="ACT-Math">ACT-Math</option>
            <option value="ACT-Reading">ACT-Reading</option>
            <option value="ACT-Science">ACT-Science</option>


        </select>
        <button type="submit">Save Question</button>

    </div>


    </div> <!-- class="container" -->
    <button  id="Edit_Button" name="Edit_Button" type="submit">Edit a Question</button>

    <button onclick="goBack()">Go Back</button>

</form>

<script type="text/javascript">
    function move() {
        window.location.href = '/AddQuestions/DeleteDatabase'
    }

</script>



<script>
    function goBack() {
        window.history.back();
    }
</script>
