<h1>{{user.profile.firstName}}'s Dashboard</h1>

<p>Please Select what kind of test you would like?</p>

<form action="/Test_Options" method="get">
    <label for="FirstName">
        FirstName
        <input id="FirstName" name="FirstName" value="{{FirstName}}" />

    </label>
    <label for="LastName">
       LastName
        <input id="LastName" name="LastName" value="{{LastName}}" />

    </label>
    <label for="Email">
        Email
        <input id="Email" name="Email" value="{{Email}}" />

    </label>
    <button  id="ACT_Button" name="ACT_Button" type="submit">ACT EXAM</button>
    <button  name="SAT_Button" id="SAT_Button">SAT EXAM</button>
    <button  name="Search_Student" id="Search_Student">Search Student</button>

</form>


<form id="weakness" action="/dashboard/Weakness" method="get">
    <input type="hidden" id="Database_Index" name="Database_Index" value="{{Database_Index}}" />
    <input type="hidden" id="FirstName" name="FirstName" value="{{FirstName}}" />
    <input  type="hidden"  id="LastName" name="LastName" value="{{LastName}}" />
    <input  type="hidden"  id="Email" name="Email" value="{{Email}}" />
<button name="Weakness_Button" id="Weakness_Button">Address Your Weaknesses</button>
</form>

<button onclick="Prediction()">Prediction Model </button>
<script type="text/javascript">
    function Prediction() {
        window.location.href = '/dashboard/Razvan'
    }
    function Submit(){
        document.getElementById("weakness").submit()
    }
</script>


