
<body>

<form id="form" action="/AddQuestions/Search_Question"  method="post">
    <input type="hidden" id="Database_Index" name="Database_Index" value="{{Database_Index}}"  />
    <input type="hidden" id="normal_Question_Index" name="normal_Question_Index" value="{{normal_Question_Index}}"  />
    <input type="hidden" id="Show_Questions" name="Show_Questions" value="{{Show_Questions}}"  />
    <div class="col-3">
        <input id="Enter_Text" class="effect-10" type="text" placeholder="Enter Question Text">
        <span class="focus-bg"></span>
    </div>
    <select id="Test"  name="Test" value="{{Test}}" >
        <option value="0">Select Test</option>
        <option value="C03">C03</option>
        <option value="B04">B04</option>
        <option value="B02">B02</option>
        <option value="B05">B05</option>
        <option value="A09">A09</option>
        <option value="A10">A10</option>
        <option value="A11">A11</option>
        <option value="74C">74C</option>
        <option value="73G">73G</option>
        <option value="74G">74G</option>
        <option value="73G">74F</option>
        <option value="74H">74H</option>
        <option value="73E">73E</option>
        <option value="71H">71H</option>
        <option value="70G">70G</option>
        <option value="71E">71E</option>
        <option value="72E">72E</option>
        <option value="72F">72F</option>
        <option value="72G">72G</option>
        <option value="72G">73C</option>
        <option value="Z15">Z15</option>
        <option value="71G">71G</option>
        <option value="59C">59C</option>
        <option value="61B">61B</option>
    </select>




    <select id="Test_Type"  name="Test_Type" value="{{Test_Type}}" >
        <option value="0">Select Test Type</option>
        <option value="ACT-English">ACT-English</option>
        <option value="ACT-Math">ACT-Math</option>
        <option value="ACT-Reading">ACT-Reading</option>
        <option value="ACT-Science">ACT-Science</option>


    </select>
    <label  for="Number">
        Number
        <input id="Number"  name="Number" value="{{Number}}"  />

    </label>
    <button type="button" onclick="onSubmit()" id="Search" name="Search" type="submit">Search Question</button>


</form>
<script type="text/javascript">
    function onSubmit(){
        console.log("inside on Submit")
        document.getElementById("Show_Questions").value="true"
        document.getElementById("form").submit()
    }
    window.onload = function () {

    }

</script>
</body>