


<head>

    <h4 class="Question_Body_Display" id="Question_Body_Display" name="Question_Body_Display"  ></h4>
</head>

<body>


</body>
<form id ="form" action="/dashboard/Question_Loop"  method="get">
    <input type="hidden" id="Exit_bool" name="Exit_bool" value="{{Exit_bool}}"  />
    <input type="hidden" id="Final_Questions_holder" name="Final_Questions_holder" value="{{Final_Questions_holder}}"  />
    <input type="hidden" id="Question_Body_Holder" name="Question_Body_Holder" value="{{Question_Body_Holder}}"  />
    <input type="hidden" id="Database_Index" name="Database_Index" value="{{Database_Index}}"  />
    <input type="hidden" id="normal_Question_Index" name="normal_Question_Index" value="{{normal_Question_Index}}"  />
    <input type="hidden" id="tutor_boolean" name="tutor_boolean" value="{{tutor_boolean}}"  />


<label class="" for="Final_Questions">
    List of Questions that were in incorrect
    (Select One if you want to go back to the problem)
    <table id='tbl' border=1></table>
    <ul type="submit" name="Final_Questions" id ="Final_Questions" name="Final_Questions" >


    </ul>
</label>




</form>





<script type="text/javascript">
    function addCell(tr, val,response,right_answer) {
        //console.log("response and right answer"+" "+response+" "+right_answer+" "+val);
        if (response!=right_answer){
           // console.log("incorrect")
            var td = document.createElement('td');
            td.style.color='red'
            td.innerHTML = val;

        }
        else{
           //console.log("correct")
            var td = document.createElement('td');
            td.style.color='black'
            td.innerHTML = val;
            //td.value=val;
        }

        tr.appendChild(td)
    }
    function addRow(tbl, val_1, val_2, val_3,val_4,val_5,val_6,val_7,repeats,views,response,right_answer){
        var tr = document.createElement('tr');

        addCell(tr, val_1,response,right_answer);
        addCell(tr, val_2,response,right_answer);
        addCell(tr, val_3,response,right_answer);
        addCell(tr, val_4,response,right_answer);
        addCell(tr, val_5,response,right_answer);
        addCell(tr, val_6,response,right_answer);
        addCell(tr, val_7,response,right_answer);
        addCell(tr, repeats,'A','A');
        addCell(tr, views,'A','A');
        tr.onclick=async function(event) {

            document.getElementById("Final_Questions_holder").value=val_1
            console.log('clicked!!!! '+document.getElementById("form").submit());

        }
        tbl.appendChild(tr)
    }
    function addRow_Tutor(tbl, val_1, val_2, val_3,val_4,val_5,val_6,val_7,repeats,views,time_stamp,hover_history,confidence,checked_answers,response,right_answer){
        var tr = document.createElement('tr');
        console.log("inside tutor"+" "+response+" "+right_answer)
        addCell(tr, val_1,response,right_answer);
        addCell(tr, val_2,response,right_answer);
        addCell(tr, val_3,response,right_answer);
        addCell(tr, val_4,response,right_answer);
        addCell(tr, val_5,response,right_answer);
        addCell(tr, val_6,response,right_answer);
        addCell(tr, val_7,response,right_answer);
        addCell(tr, repeats,'A','A');
        addCell(tr, views,'A','A');
        addCell(tr, time_stamp,'A','A');
        addCell(tr, hover_history,'A','A');
        addCell(tr,confidence,'A','A');
        addCell(tr,checked_answers,'A','A');
        tr.onclick=async function(event) {

            document.getElementById("Final_Questions_holder").value=val_1
            console.log('clicked!!!! '+document.getElementById("form").submit());

        }
        tbl.appendChild(tr)
    }
    function loadFinalQuestions(){
        console.log("Inside loadFinalQuestions "+document.getElementById("Final_Questions_holder").value)
        var FinalList=document.getElementById("Final_Questions_holder").value.split(",")
        console.log(FinalList)
        //var ul=document.getElementById("Final_Questions");
        var tbl = document.getElementById('tbl');
        if(document.getElementById("tutor_boolean").value=="true"){
            addRow_Tutor(tbl, 'Number', 'Test Type', 'Test','Time','Tag','Hint Selection','Checked if Correct','Changed Answer','Views','Time Stamp','Hover History','Confidence','Checked Answers');
           //console.log("Final List "+" "+FinalList)
            for (var i=0;i<FinalList.length;++i){
                console.log("Length "+FinalList[i].split(";").length)
                console.log("Final List "+FinalList[i])
                console.log("Inside loading Tutor View Questions "+ FinalList[i].split(";")[0]+" "+FinalList[i].split(";")[11]+" "+FinalList[i].split(";")[12].split("/").length)
                addRow_Tutor(tbl, FinalList[i].split(";")[0], FinalList[i].split(";")[1], FinalList[i].split(";")[2],FinalList[i].split(";")[3],FinalList[i].split(";")[4],FinalList[i].split(";")[5],FinalList[i].split(";")[6],FinalList[i].split(";")[9],FinalList[i].split(";")[10],
                        FinalList[i].split(";")[11],FinalList[i].split(";")[12],FinalList[i].split(";")[13],FinalList[i].split(";")[14],FinalList[i].split(";")[7],FinalList[i].split(";")[8]);

                //console.log("This is the value its returned"+FinalList[i].split(",")[0]+FinalList[i].split(",")[1]+" "+ FinalList[i].split(",")[2]+" "+FinalList[i].split(",")[3]+" "+FinalList[i].split(",")[4]+" "+FinalList[i].split(",")[5]+" "+FinalList[i].split(";")[6]+" "+FinalList[i].split(";")[9]+" "+
                       ///FinalList[i].split(";")[10]+" "+FinalList[i].split(";")[11]+" "+FinalList[i].split(";")[12]+" "+FinalList[i].split(";")[7]+" "+FinalList[i].split(";")[8])
            }
        }
        else{
            addRow(tbl, 'Number', 'Test Type', 'Test','Time','Tag','Hint Selection','Checked if Correct','Changed Answer','Views');
            for (var i=0;i<FinalList.length;++i){
                console.log("Inside loadFinalQuestions")
                addRow(tbl, FinalList[i].split(";")[0], FinalList[i].split(";")[1], FinalList[i].split(";")[2],FinalList[i].split(";")[3],FinalList[i].split(";")[4],FinalList[i].split(";")[5],FinalList[i].split(";")[6],FinalList[i].split(";")[9],FinalList[i].split(";")[10],FinalList[i].split(";")[7],FinalList[i].split(";")[8]);

                console.log("This is the value its returned"+FinalList[i].split(",")[0]+FinalList[i].split(",")[1]+" "+ FinalList[i].split(",")[2]+" "+FinalList[i].split(",")[3]+" "+FinalList[i].split(",")[4]+" "+FinalList[i].split(",")[5]+" "+FinalList[i].split(";")[6]+" "+FinalList[i].split(";")[9])
            }
        }


    }
    function HomeFunction(){
        console.log("inside exit bool")
        document.getElementById("Exit_bool").value="true"
        document.getElementById("form").submit()
    }
    function loadQuestionBody(){
        var question=document.getElementById("Question_Body_Holder");

        var display=document.getElementById("Question_Body_Display");
        display.innerHTML=question.value
    }
    window.onload = function () {

        loadFinalQuestions();
        loadQuestionBody()
        // console.log("inside passage box"+document.getElementById("Passage_Box").textContent)
        //console.log("Print First"+" "+y)



    };
</script>