<!DOCTYPE html>
<html id="html">
  <head id="header_1" >
    <title id="header" name="header" >{{title}}</title>
      <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 1000px)" href="/stylesheets/style.css" />
      <link rel="stylesheet" type="text/css" media="screen and  (min-device-width: 600px) and (max-device-width: 999px)" href="/stylesheets/ipad.css" />

  </head>
  <body>
    <header  id="header" name="header" >

      {{#if user}}
          <h1  >{{title}}</h1>
        <a href="/profile">
          Signed in as {{user.profile.firstName}} {{user.profile.lastName}}

        </a>
      {{/if}}
      {{#if user}}
          <h1  >{{title}}</h1>
        <a href="/logout">Sign out</a>
          <div id="btn-group" class="btn-group">
          </div>
      {{else}}

          <h1  id="title" name="title">{{title}}</h1>
          <h1  id="Test_Both" name="Test_Both">{{Test_Both}}</h1>
          <h1  id="Total_Time" name="Total_Time">{{Total_Time}}</h1>

          <h1 class="menu_1">
              <div id ="menu" name="menu" style="display: none;"  class="menu">
                  <div  class="label">Menu</div>
                  <div   class="spacer"></div>
                  <div   class="item"><span>Eliminate Answers</span></div>
                  <div   class="item"><span>Highlighter</span></div>
                  <div   class="item"><span>Pause</span></div>
                  <div   class="item"><span>Exit</span></div>

              </div>
          </h1>
          <button onclick="HomeFunction()" id="Exit" name="Exit" type="submit" >Exit back Home </button>

      {{/if}}
    </header>
    <main>
      {{{body}}}

    </main>



  </body>
</html>
