<!DOCTYPE html>
<html>
  <head>
    <title id="header" name="header" >{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header  id="header" name="header" >

      {{#if user}}
          <h1  >{{title}}</h1>
        <a href="/profile">
          Signed in as {{user.profile.firstName}} {{user.profile.lastName}}
            <div  id="btn-group" class="btn-group">
            </div>
        </a>
      {{/if}}
      {{#if user}}
          <h1  >{{title}}</h1>
        <a href="/logout">Sign out</a>
          <div id="btn-group" class="btn-group">
          </div>
      {{else}}
          <div  id="btn-group" class="btn-group">
          </div>
          <h1  id="title" name="title">{{title}}</h1>
      {{/if}}
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
