<h1>{{user.profile.firstName}}'s Student Dashboard for Naviance Exploration</h1>

<p>Enter credentials.</p>

<form action="/ReadWriteSheets" method="get">
    <label for="High_School">
        High_School
        <input id="High_School" name="High_School" value="{{High_School}}" />

    </label>
    <label for="University">
        University
        <input id="University" name="University" value="{{University}}" />

    </label>
    <label for="username">
        Username
        <input id="username" name="username" value="{{username}}" />

    </label>
    <label for="password">
        Password
        <input id="password" name="password" value="{{password}}" />

    </label>
    <button  id="naviance_button" name="naviance_button" type="submit">Search Naviance</button>

</form>