

<h4>Please select an Answer.</h4>




<body>

<p class="right"  > {{storyboxID}}</p>
<div class="Time" id="time_x" name="time_x"><span >01:00</span> minutes!</div>

<input type="hidden" id="Passage_Holder" name="Pasage_Holder" value="{{Passage_Holder}}"  />
<div >
    <textarea id ="Passage_Box" name="Passage_Box" style="width:800px; height: 800px;" ></textarea>
</div>
</body>
<form action="/dashboard/Question_Loop"  method="get">
    <button id="Exit" name="Exit" type="Exit" style = "top:0;right:0;position:absolute;z-index: 9999" >Exit </button>
    <input type="hidden" id="Database_Index" name="Database_Index" value="{{Database_Index}}"  />
    <input type="hidden" id="Tag" name="Tag" value="{{Tag}}"  />


    <label for="Answer_A">
        A.)
        <p id="para1" >{{Answer_A}} </p>

    </label>
    <label for="Answer B">
        B.)
        <p id="para1" >{{Answer_B}} </p>

    </label>
    <label for="Answer_C">
        C.)
        <p id="para1" >{{Answer_C}} </p>

    </label>
    <label for="Answer_D">
        D.)
        <p id="para1" >{{Answer_D}} </p>

    </label>
    <label for="Answer_E">
        E.)
        <p id="para1" >{{Answer_E}} </p>

    </label>

    <select id="combo" name="combo">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option disabled selected value> -- select an option -- </option>
    </select>
    <button id="next_question" name="next_question" type="submit">Submit(Next Question)</button>
    <button  id="tag_question" name="tag_question" type="submit">Next Question w/ same Tag</button>
    <button  id="difficulty_question" name="difficulty_question" type="submit">Next Question w/ same Difficulty</button>

</form>




<script type="text/javascript">
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 60 * 1,
                display = document.querySelector('#time_x');
        startTimer(fiveMinutes, display);

        console.log("inside passage box"+document.getElementById("Passage_Box").textContent)
        var y=document.getElementById("Passage_Holder").value
        console.log("Print First"+" "+y)
        document.getElementById("Passage_Box").value=y;
        //console.log("after"+" "+document.getElementById("Passage_Box").value)
        var x = document.getElementById("Passage_Box").value;

    };
</script>